@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto);


/*
font-family: 'Roboto Slab', serif;

font-family: 'Roboto', sans-serif;
*/

/*** Splash Screen ***/

#splash-wrap {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('https://images.unsplash.com/uploads/1413548921627cb0e00f3/80652197?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=dc1770334b5b4bee5e04ff78ee964313');
  background-size: cover;
  background-repeat: no-repeat;
}
#splash-content {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.splash-header {
  font-family: 'Roboto Slab', serif;
  font-size: 400%;
  text-align: center;
  color: #ffffff;
  margin-top: -4%;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
#splash-top {
  margin-top: -8%;
}
.splash-logo {
  max-width: 500px;
  margin-left: 28%;
  margin-top: -4%;
  margin-bottom: 0;
}
.splash-new {
  width: 200px;
  background-color: #4e96cd;
  border-radius: 5px;
  line-height: 35px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: white;
  border: 0px solid black;
}
.splash-new:hover {
  background-color: #3472f7;
}
.splash-login {
  float: right;
  margin-top: 1%;
  margin-right: 2%;
  width: 100px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  border: 0px solid black;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}
.splash-company {
  float: right;
  margin-top: 1%;
  margin-right: 2%;
  width: 156px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  border: 0px solid black;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}
.splash-detail {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 200%;
  color: #ffffff;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

/*** SIGN UP ***/

.join-header {
  font-family: 'Roboto Slab', serif;
  font-size: 400%;
  text-align: center;
  color: #ffffff;
  margin-top: 10%;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.join-icon {
  width: 100px;
  float: left;
}
.item-form {
  text-align: center;
}
.form-field {
  margin-bottom: 5px;
  width: 180px;
  height: 35px;
  border: 1px solid grey;
  border-radius: 5px;
  font-family: 'Muli', sans-serif;
  font-size: 15px;
  padding-left: 5px;
  background-color: white;
  color: #222222;
}
.form-area {
  margin-bottom: 2px;
  width: 178px;
  height: 50px;
  border: 1px solid grey;
  border-radius: 5px;
  font-family: 'Muli', sans-serif;
  font-size: 15px;
  padding-left: 5px;
  background-color: white;
  color: #222222;
}
.submit-btn {
  width: 188px;
  background-color: #4e96cd;
  border-radius: 5px;
  line-height: 35px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  color: white;
  margin-top: 20px;
  border: 0px solid black;
}

.submit-btn:hover {
  background-color: #3472f7;
}
