<%= stylesheet_link_tag "style.css" %>

<div id="background">
  <div id="company-profile">
    <%= link_to(image_tag("https://i.imgur.com/3BMz71I.png", :alt => "Promo Image", :id => "company-profile"), companies_path) %>
  </div>
</div>
